@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialised;
    text-rendering: optimizeLegibility;
}

.card-projects {
  cursor: url("../assets/cursor.svg"), auto;
  transition: cursor 0.4s ease;
}

.img-with-mark::before {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  z-index: 1;
  background-image: url('../assets/selo.svg');
  background-size: cover;
}

.skills-card {
  background: linear-gradient(137deg, rgba(19, 21, 32, 0.8) 0%, rgba(19, 21, 32, 0.00) 100%);
  backdrop-filter: blur(113px);
  opacity: .87 !important;
}

::-webkit-scrollbar {
  border-radius: 999px;
  width: 8px;
  background-color: #262626;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: #77e123;
}